force-app/main/default/flows/Activate_Contact_As_Portal_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>insert_and_call_okta</name>
        <label>insert and call okta</label>
        <locationX>1195</locationX>
        <locationY>446</locationY>
        <actionName>OKTAFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>acrLst</name>
            <value>
                <elementReference>ACRId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OKTAFlow</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>SetExistingACR</name>
        <label>SetExistingACR</label>
        <locationX>845</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>GetACR.PortalUserForOKta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetACR.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactRoles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACRId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetACR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdACR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Role_value_populated</name>
        <label>Role value populated</label>
        <locationX>414</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>footer_labelw</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Role_val_populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contactRoles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRoles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract Signee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactRoles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetACR</targetReference>
            </connector>
            <label>Role val populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_if_record_is_existing</name>
        <label>Validate if record is existing</label>
        <locationX>597</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Contact_Already_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetACR.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetExistingACR</targetReference>
            </connector>
            <label>Account Contact Already Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Roleschoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roles</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Activate Contact As Portal User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate Contact As Portal User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Assign_Account_Contact_Roles</name>
        <label>Assign Account Contact Roles</label>
        <locationX>913</locationX>
        <locationY>522</locationY>
        <assignRecordIdToReference>ACRId</assignRecordIdToReference>
        <connector>
            <targetReference>insert_and_call_okta</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PortalUserForOKta__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>contactRoles</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordLookups>
        <name>GetACR</name>
        <label>GetACR</label>
        <locationX>423</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_if_record_is_existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdACR</name>
        <label>UpdACR</label>
        <locationX>992</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>insert_and_call_okta</targetReference>
        </connector>
        <inputReference>GetACR</inputReference>
    </recordUpdates>
    <screens>
        <name>Choose_the_proper_role</name>
        <label>Assign contact role</label>
        <locationX>421</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Role_value_populated</targetReference>
        </connector>
        <fields>
            <name>AccountId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AccountContactRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AccountContactRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varCurrentContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>contactRoles</name>
            <choiceReferences>Roleschoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Choose proper value&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>footer_labelw</name>
        <label>footer labelw</label>
        <locationX>668</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_the_proper_role</targetReference>
        </connector>
        <fields>
            <name>Manadator_values</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;A contact can&apos;t be activated without having a &quot;Contract Signee, Site or Billing&quot; roles&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Choose_the_proper_role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ACRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
