force-app/main/default/flows/Case_Creation_from_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_contract_code_wrapper_list</name>
        <label>Get contract code wrapper list</label>
        <locationX>1584</locationX>
        <locationY>360</locationY>
        <actionName>SuezContractCodeProcessAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_Case</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>idList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SuezContractCodeProcessAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_invoice_wrapper_list</name>
        <label>Get invoice wrapper list</label>
        <locationX>1214</locationX>
        <locationY>365</locationY>
        <actionName>SuezInvoiceProcessAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_Invoice_Case</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>idList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SuezInvoiceProcessAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_My_Service_List</name>
        <label>Redirect to My Service List</label>
        <locationX>1386</locationX>
        <locationY>1612</locationY>
        <actionName>c:SuezRedirect</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>ErrorScreen4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>retURL</name>
            <value>
                <elementReference>retURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:SuezRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirected_to_Invoice_List</name>
        <label>Redirected to Invoice List</label>
        <locationX>422</locationX>
        <locationY>1619</locationY>
        <actionName>c:SuezRedirect</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>ErrorScreen2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>retURL</name>
            <value>
                <elementReference>retURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:SuezRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_case_details</name>
        <label>Assign case details</label>
        <locationX>1110</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>TempCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_distinctive_account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Inv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_I_C_Invoice_Query_RTID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Query</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Query</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceCaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_distinctive_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_case_details_0</name>
        <label>Assign case details</label>
        <locationX>1987</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>TempCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_distinctive_service_account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_I_C_Case_RTID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Enquiry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Enquiry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_distinctive_service_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_case_ids</name>
        <label>assign case ids</label>
        <locationX>620</locationX>
        <locationY>1011</locationY>
        <assignmentItems>
            <assignToReference>CaseIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_invoice_cases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_invoice_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_case_ids_0</name>
        <label>assign case ids</label>
        <locationX>1583</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>CaseIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_service_cases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_service_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Invoice_fields</name>
        <label>Assign Case Invoice fields</label>
        <locationX>1080</locationX>
        <locationY>1311</locationY>
        <assignmentItems>
            <assignToReference>NewCaseInvoice.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Invoice_Id_List.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseInvoice.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_invoice_cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseInvoice.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Invoice_Id_List.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInvoiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCaseInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoice_Id_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Service_fields</name>
        <label>Assign Case Service fields</label>
        <locationX>1959</locationX>
        <locationY>1135</locationY>
        <assignmentItems>
            <assignToReference>NewCaseContract.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Code_Id_List.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseContract.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_service_cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseContract.Contract_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Code_Id_List.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseContractList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCaseContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contract_Code_Id_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Complaint</name>
        <choiceText>Complaint</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ServiceEnquiry</name>
        <choiceText>Service Enquiry</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Account_Check</name>
        <label>Account Check</label>
        <locationX>788</locationX>
        <locationY>1311</locationY>
        <defaultConnector>
            <targetReference>Loop_Invoice_Id_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_mactched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_invoice_cases.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Invoice_Id_List.Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Invoice_fields</targetReference>
            </connector>
            <label>Account mactched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Check_0</name>
        <label>Account Check</label>
        <locationX>1687</locationX>
        <locationY>1129</locationY>
        <defaultConnector>
            <targetReference>Loop_Contract_Code_Id_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_mactched_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_service_cases.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Contract_Code_Id_List.Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Service_fields</targetReference>
            </connector>
            <label>Account mactched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Origin</name>
        <label>Check Origin</label>
        <locationX>1381</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_invoice_wrapper_list</targetReference>
            </connector>
            <label>Is Invoice</label>
        </rules>
        <rules>
            <name>Is_Contract_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>contractcode</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contract_code_wrapper_list</targetReference>
            </connector>
            <label>Is Contract Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsErrorContractCode</name>
        <label>Is Error - Contract Code</label>
        <locationX>1364</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Confirmation2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>DisplayErrorContractCode</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forceError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen3</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsErrorInvoice</name>
        <label>Is Error - Invoice</label>
        <locationX>436</locationX>
        <locationY>1232</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>DisplayErrorInvoice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forceError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
    </decisions>
    <description>This flow creates the case with related services/invoices from the portal</description>
    <environments>Default</environments>
    <interviewLabel>Case Creation from Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation from Portal</label>
    <loops>
        <name>Loop_Contract_Code_Id_List</name>
        <label>Loop Contract Code Id List</label>
        <locationX>1824</locationX>
        <locationY>903</locationY>
        <collectionReference>Get_contract_code_wrapper_list.contractCodeList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Check_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_case_ids_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_distinctive_account</name>
        <label>Loop distinctive account</label>
        <locationX>945</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_invoice_wrapper_list.accountIdList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_case_details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_invoice_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_distinctive_service_account</name>
        <label>Loop distinctive service account</label>
        <locationX>1835</locationX>
        <locationY>500</locationY>
        <collectionReference>Get_contract_code_wrapper_list.accountIdList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_case_details_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_service_cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_invoice_cases</name>
        <label>Loop invoice cases</label>
        <locationX>790</locationX>
        <locationY>863</locationY>
        <collectionReference>Create_invoice_case.CaseList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Invoice_Id_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Invoice_sub_flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Invoice_Id_List</name>
        <label>Loop Invoice Id List</label>
        <locationX>940</locationX>
        <locationY>1025</locationY>
        <collectionReference>Get_invoice_wrapper_list.invoiceList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_case_ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_service_cases</name>
        <label>Loop service cases</label>
        <locationX>1697</locationX>
        <locationY>780</locationY>
        <collectionReference>Create_service_cases.CaseList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Contract_Code_Id_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Contract_Sub_Flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Users_Contact</name>
        <label>Get Current Users Contact</label>
        <locationX>1388</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch I&amp;C - Invoice Query  Case Record type ID</description>
        <name>Get_I_C_Case_RTID</name>
        <label>Get I&amp;C - Case RTID</label>
        <locationX>1834</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_distinctive_service_account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsErrorContractCode</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I_C_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch I&amp;C - Invoice Query  Case Record type ID</description>
        <name>Get_I_C_Invoice_Query_RTID</name>
        <label>Get I&amp;C - Invoice Query RTID</label>
        <locationX>952</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_distinctive_account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsErrorInvoice</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I_C_Invoice_Query</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_inserted_cases</name>
        <label>Get inserted cases</label>
        <locationX>433</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsErrorInvoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsErrorInvoice</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CaseIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_inserted_service_cases</name>
        <label>Get inserted service cases</label>
        <locationX>1361</locationX>
        <locationY>976</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsErrorContractCode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsErrorContractCode</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CaseIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>543</locationX>
        <locationY>1447</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirected_to_Invoice_List</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Thank you for submitting your request. We will be in touch with you shortly to confirm the details of your request.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case Number(s): &lt;a href=&quot;/s/my-cases/case/{!Get_inserted_cases.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_inserted_cases.CaseNumber}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation2</name>
        <label>Confirmation</label>
        <locationX>1452</locationX>
        <locationY>1440</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_My_Service_List</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Thank you for submitting your request. We will be in touch with you shortly to confirm the details of your request.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case Number: &lt;a href=&quot;/s/my-cases/case/{!Get_inserted_service_cases.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_inserted_service_cases.CaseNumber}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Case</name>
        <label>New Case</label>
        <locationX>1713</locationX>
        <locationY>360</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_I_C_Case_RTID</targetReference>
        </connector>
        <fields>
            <name>New_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HeaderText2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Create case&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Case_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Case_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason</name>
                    <choiceReferences>Complaint</choiceReferences>
                    <choiceReferences>ServiceEnquiry</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Help us to help you. Please share any further information that you think might be useful to the team.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Invoice_Case</name>
        <label>New Invoice Case</label>
        <locationX>1095</locationX>
        <locationY>365</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_I_C_Invoice_Query_RTID</targetReference>
        </connector>
        <fields>
            <name>New_Invoice_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Invoice_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HeaderText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Create invoice query&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Invoice_Case_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Invoice_Case_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message_Inv</name>
                    <fieldText>Description of invoice query</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Help us to help you. Please share any further information that you think might be useful to the team.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1262</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Current_Users_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Case_Contract_Sub_Flow</name>
        <label>Create Case Contract Sub Flow</label>
        <locationX>1361</locationX>
        <locationY>773</locationY>
        <connector>
            <targetReference>Get_inserted_service_cases</targetReference>
        </connector>
        <flowName>Create_Case_Contract_Sub_Flow</flowName>
        <inputAssignments>
            <name>CaseContractList</name>
            <value>
                <elementReference>CaseContractList</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Case_Invoice_sub_flow</name>
        <label>Create Case Invoice sub flow</label>
        <locationX>434</locationX>
        <locationY>862</locationY>
        <connector>
            <targetReference>Get_inserted_cases</targetReference>
        </connector>
        <flowName>Create_Case_Invoice_Sub_Flow</flowName>
        <inputAssignments>
            <name>CaseInvoiceLst</name>
            <value>
                <elementReference>CaseInvoiceList</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_invoice_case</name>
        <label>Create invoice case</label>
        <locationX>790</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Loop_invoice_cases</targetReference>
        </connector>
        <flowName>Create_cases_sub_flow</flowName>
        <inputAssignments>
            <name>CaseList</name>
            <value>
                <elementReference>InvoiceCaseList</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_service_cases</name>
        <label>Create service cases</label>
        <locationX>1694</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Loop_service_cases</targetReference>
        </connector>
        <flowName>Create_cases_sub_flow</flowName>
        <inputAssignments>
            <name>CaseList</name>
            <value>
                <elementReference>ServiceCaseList</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>318</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Redirected_to_Invoice_List</targetReference>
        </connector>
        <flowName>PortalErrorScreenSubFlow</flowName>
    </subflows>
    <subflows>
        <name>ErrorScreen2</name>
        <label>Error Screen</label>
        <locationX>420</locationX>
        <locationY>1788</locationY>
        <flowName>PortalErrorScreenSubFlow</flowName>
    </subflows>
    <subflows>
        <name>ErrorScreen3</name>
        <label>Error Screen</label>
        <locationX>1295</locationX>
        <locationY>1434</locationY>
        <connector>
            <targetReference>Redirect_to_My_Service_List</targetReference>
        </connector>
        <flowName>PortalErrorScreenSubFlow</flowName>
    </subflows>
    <subflows>
        <name>ErrorScreen4</name>
        <label>Error Screen</label>
        <locationX>1382</locationX>
        <locationY>1842</locationY>
        <flowName>PortalErrorScreenSubFlow</flowName>
    </subflows>
    <variables>
        <name>CaseContractList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseContract__c</objectType>
    </variables>
    <variables>
        <name>CaseIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseInvoiceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Invoice__c</objectType>
    </variables>
    <variables>
        <name>CaseLinks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractCodeIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>forceError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>idList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>invoiceIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>I_C_Invoice_Query</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewCaseContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseContract__c</objectType>
    </variables>
    <variables>
        <description>Variable which use to hold Case invoice records in Loop</description>
        <name>NewCaseInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Invoice__c</objectType>
    </variables>
    <variables>
        <name>origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TempCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
