force-app/main/default/flows/CaseInvoiceAttachment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>SplitInvoiceChoiseSet</name>
        <label>SplitInvoiceChoiseSet</label>
        <locationX>1058</locationX>
        <locationY>84</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Invoices</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>RB_Select_Invoices</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <outputParameters>
            <assignToReference>LIST_ListOfInvoices</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignRecordToTheList</name>
        <label>AssignRecordToTheList</label>
        <locationX>1302</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>ListOfCaseInvoiceToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempCaseInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewCaseInvoiceRecord</name>
        <label>SetNewCaseInvoiceRecord</label>
        <locationX>1302</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>TempCaseInvoice.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GR_Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCaseInvoice.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCaseInvoice.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Invoices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecordToTheList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AlreadySent</name>
        <label>AlreadySent</label>
        <locationX>562</locationX>
        <locationY>84</locationY>
        <defaultConnector>
            <targetReference>SCR_Select_Invoices_ByNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasBeenSent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GR_Get_Case.Send_to_SAP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Already_Sent</targetReference>
            </connector>
            <label>HasBeenSent</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PCS_InvoiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Type__c</picklistField>
        <picklistObject>Invoice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Invoice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_InvoiceList</name>
        <dataType>String</dataType>
        <displayField>InvoiceSearch__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>TXT_Invoice_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GR_Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>PL_Invoice_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>DT_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>DT_End_Date</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Invoice__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>TodayLastYear</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 365</expression>
    </formulas>
    <interviewLabel>CaseInvoiceAttachment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Invoice Attachment</label>
    <loops>
        <name>Loop_Through_Invoices</name>
        <label>Loop Through Invoices</label>
        <locationX>1061</locationX>
        <locationY>249</locationY>
        <collectionReference>LIST_ListOfInvoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetNewCaseInvoiceRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CR_Create_Case_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CR_Create_Case_Invoice</name>
        <label>Create Case Invoice</label>
        <locationX>1059</locationX>
        <locationY>491</locationY>
        <inputReference>ListOfCaseInvoiceToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GR_Get_Account</name>
        <label>Get Account</label>
        <locationX>466</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AlreadySent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SCR_Error_no_case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GR_Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Case</name>
        <label>Get Case</label>
        <locationX>317</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GR_Get_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SCR_Error_no_case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Already_Sent</name>
        <label>Error Already Sent</label>
        <locationX>581</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT_AlreadySentErr</name>
            <fieldText>&lt;p&gt;This case has already been sent, you can&apos;t add additional invoices anymore.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_Attach_Invoices</name>
        <label>Attach Invoices</label>
        <locationX>182</locationX>
        <locationY>241</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GR_Get_Case</targetReference>
        </connector>
        <fields>
            <name>TXT_Invoice_Number</name>
            <dataType>String</dataType>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SCR_Attach_Invoices_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_Attach_Invoices_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayLastYear</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR_Attach_Invoices_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PL_Invoice_Type</name>
            <choiceReferences>PCS_InvoiceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Invoice Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_Error_no_case</name>
        <label>Error no case</label>
        <locationX>396</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_Error_NoCase</name>
            <fieldText>&lt;p&gt;You must save the current case before attaching invoices. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_Select_Invoices_ByNumber</name>
        <label>Select Invoices by Number</label>
        <locationX>847</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SplitInvoiceChoiseSet</targetReference>
        </connector>
        <fields>
            <name>RB_Select_Invoices</name>
            <choiceReferences>RCS_InvoiceList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Invoices</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SCR_Attach_Invoices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LIST_ListOfInvoices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfCaseInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Invoice__c</objectType>
    </variables>
    <variables>
        <name>ListOfCaseInvoiceToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Invoice__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempCaseInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Invoice__c</objectType>
    </variables>
</Flow>
