force-app/main/default/flows/Close_all_related_case_when_parent_case_is_closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Case_Values</name>
        <label>Assign Parent Case Values</label>
        <locationX>299</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>Check_and_assign_the_child_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_and_assign_the_child_case.Resolution_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Resolution_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_and_assign_the_child_case.Final_Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Final_Resolution__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_and_assign_the_child_case</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Close all related case when parent case is closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close all related case when parent case is closed</label>
    <loops>
        <name>Check_and_assign_the_child_case</name>
        <label>Check and assign the child case</label>
        <locationX>299</locationX>
        <locationY>303</locationY>
        <collectionReference>Retrive_all_related_child_case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Case_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_child_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrive_all_related_child_case</name>
        <label>Retrive all related child case</label>
        <locationX>141</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_and_assign_the_child_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_child_case</name>
        <label>update child case</label>
        <locationX>481</locationX>
        <locationY>288</locationY>
        <inputReference>Check_and_assign_the_child_case</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Retrive_all_related_child_case</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>No_of_Open_Tasks__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
