force-app/main/default/flows/Contact_Validation_on_Contact_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Email</name>
        <label>Assign Contact Email</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Final_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Updated_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Display_Email</name>
        <label>Assign Display Email</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Final_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalContact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Updated_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Contact</name>
        <label>Set Original Contact</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>OriginalContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Job_Title__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.OtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.OtherPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.Customer_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Customer_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayContactInfoScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Updated_Contact</name>
        <label>Set Updated Contact</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>UpdatedContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseContactFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseContactLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseContactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseContactMobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.OtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseContactOtherPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Title.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Made</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseContactEmail.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Display_Email</targetReference>
            </connector>
            <label>Customer Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Made</name>
        <label>Update Made?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>UpdateContactVerifiedStamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update Required</defaultConnectorLabel>
        <rules>
            <name>UpdateContact</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR (5 AND (9 OR 10)) OR (6 AND (7 OR 8)) OR (13 AND (11 OR 12))</conditionLogic>
            <conditions>
                <leftValueReference>OriginalContact.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.Job_Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.Job_Title__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdatedContact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.Job_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdatedContact.Job_Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.OtherPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.OtherPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.OtherPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.OtherPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Details</targetReference>
            </connector>
            <label>Update Contact</label>
        </rules>
    </decisions>
    <description>This flow is going to be used on Contact Page on Contact Validation button.</description>
    <dynamicChoiceSets>
        <name>SalutationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Contact Validation on Contact Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Validation on Contact Page</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>GetContact</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Original_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Details</name>
        <label>Update Contact Details</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>ContactDetailsUpdatedConfirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdatedContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>UpdatedContact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>UpdatedContact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>UpdatedContact.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>UpdatedContact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>UpdatedContact.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>UpdatedContact.OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>UpdatedContact.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactVerifiedStamp</name>
        <label>Update Contact Verified Stamp</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>VerificationComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdatedContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Verified_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Verified_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>ContactDetailsUpdatedConfirmation</name>
        <label>Contact Details Updated Confirmation</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateContactVerifiedStamp</targetReference>
        </connector>
        <fields>
            <name>UpdatedContactDetails</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>UpdatedContactDetailsCallScript</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactDetailsUpdatedConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Success! Contact details updated&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayContactInfoScreen</name>
        <label>Display Contact Info</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
        <fields>
            <name>ConfirmContactDetails</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ConfirmContactDetailsCallScript</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactInformationText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Contact Information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;This verification process is only applicable to the contact person shown below. &lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseContactFirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginalContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;First Name should start with a capital letter, be 2 or more characters, not be initials, and not contain special characters except a hyphen, apostrophe or space.&lt;/p&gt;&lt;p&gt;First Name can&apos;t be all lower case or upper case.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!CaseContactFirstName}, &quot;[A-Z][&apos;]?[A-Za-z][A-Za-z&apos; -]*&quot;)
&amp;&amp;
NOT({!CaseContactFirstName} = Lower({!CaseContactFirstName}))
&amp;&amp;
NOT({!CaseContactFirstName} = Upper({!CaseContactFirstName}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CaseContactLastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginalContact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Last Name should start with a capital letter, be 2 or more characters, not be initials, and not contain special characters except a hyphen, apostrophe or space.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Last Name can&apos;t be all lower case or upper case.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!CaseContactLastName}, &quot;[A-Z][&apos;]?[A-Za-z][A-Za-z&apos; -]*&quot;)
&amp;&amp;
NOT({!CaseContactLastName} = Lower({!CaseContactLastName}))
&amp;&amp;
NOT({!CaseContactLastName} = Upper({!CaseContactLastName}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CaseContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>OriginalContact.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OriginalContact.Customer_User__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Contact_Email</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(116, 116, 116);&quot;&gt;Email &lt;/span&gt;: {!OriginalContact.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OriginalContact.Customer_User__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Job_Title</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Job_Title__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Job Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Contact.Job_Title__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CaseContactPhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginalContact.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter a valid phone number with country code (+44/+353) followed by numbers without spaces.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter a valid phone number with country code (+44/+353) followed by numbers without spaces.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!CaseContactPhone},&quot;(^\\+44)[1-6]{1}[0-9]{8,14}&quot;)) ||
(REGEX({!CaseContactPhone},&quot;(^\\+449)[0-9]{9,14}&quot;)) ||
(REGEX({!CaseContactPhone},&quot;(^\\+448)[0-9]{8,14}&quot;)) || 
(REGEX({!CaseContactPhone},&quot;(^\\+353)[1-7]{1}[0-9]{9,14}&quot;)) || 
(REGEX({!CaseContactPhone},&quot;(^\\+353)[9-9]{1}[0-9]{9,14}&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CaseContactMobile</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginalContact.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Enter a valid mobile number with country code (+44/+353) followed by numbers without spaces.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a valid mobile number with country code (+44/+353) followed by numbers without spaces.&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!CaseContactMobile},&quot;(^\\+447)[0-9]{9,14}&quot;))||
(REGEX({!CaseContactMobile},&quot;(^\\+449)[0-9]{9,14}&quot;))  ||
(REGEX({!CaseContactMobile},&quot;(^\\+3538)[0-9]{9,14}&quot;))  ||
(REGEX({!CaseContactMobile},&quot;(^\\+3539)[0-9]{9,14}&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CaseContactOtherPhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginalContact.OtherPhone</elementReference>
            </defaultValue>
            <fieldText>Other Phone</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter a valid phone number with country code (+44/+353) followed by numbers without spaces.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a valid phone number with country code (+44/+353) followed by numbers without spaces.&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!CaseContactOtherPhone},&quot;(^\\+44)[1-9]{1}[0-9]{9,14}&quot;)) ||(REGEX({!CaseContactOtherPhone},&quot;(^\\+353)[1-9]{1}[0-9]{9,14}&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VerificationComplete</name>
        <label>Verification Complete</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>VerifiedContactDetails</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>VerifiedContactDetailsCallScript</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ConfirmVerificationCompleteText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Success! Contact verified&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ConfirmContactDetailsCallScript</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please can I verify your contact details?</text>
    </textTemplates>
    <textTemplates>
        <name>UpdatedContactDetailsCallScript</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you, I have updated your contact details</text>
    </textTemplates>
    <textTemplates>
        <name>VerifiedContactDetailsCallScript</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you, I have verified that your contact details are up-to-date</text>
    </textTemplates>
    <variables>
        <name>Final_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
