force-app/main/default/flows/Copy_files_to_Account_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_CDL_record_to_List</name>
        <label>Add CDL record to List</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>CDLList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDLRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_CDL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CDL_Record_creation</name>
        <label>CDL Record creation</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>CDLRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_CDL.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CDL_record_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContentDocLinkIds</name>
        <label>ContentDocLinkIds</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CDLinkIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Account_CD_Links.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Account_CD_Links</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CDL_Records_Null_Check</name>
        <label>CDL Records Null Check</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CDL_of_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_CDL</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hub_Opportunity_RT_check</name>
        <label>Hub Opportunity RT check</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Hub_Opportunity_RecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_CD_Links</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Copy files to Account from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy files to Account from Opportunity</label>
    <loops>
        <name>Loop_Over_Account_CD_Links</name>
        <label>Loop Over Account CD Links</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Account_CD_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContentDocLinkIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CDL_of_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_CDL</name>
        <label>Loop over CDL</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_CDL_of_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CDL_Record_creation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CDL_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CDL_on_Account</name>
        <label>Create CDL on Account</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <inputReference>CDLList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_CD_Links</name>
        <label>Get Account CD Links</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Account_CD_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CDL_of_Opportunity</name>
        <label>Get CDL of Opportunity</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CDL_Records_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>CDLinkIdSet</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hub_Opportunity_RecordType</name>
        <label>Get Hub Opportunity RecordType</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hub_Opportunity_RT_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I_C_Hub_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hub_Opportunity_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CDLinkIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CDLList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CDLRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
