force-app/main/default/flows/Deleting_record_Using_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_Account_Contact_Relationship</name>
        <label>Remove Account Contact Relationship</label>
        <locationX>1162</locationX>
        <locationY>607</locationY>
        <actionName>AccountContactRelationshipDeleteHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountContactRelationLst</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountContactRelationshipDeleteHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Account_RT</name>
        <label>Check Account RT</label>
        <locationX>768</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IC_Hub_or_IC_Key_or_IC_CSite</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IC_Hub_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IC_Key_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IC_Customer_Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Account_Contact_Relationship</targetReference>
            </connector>
            <label>IC Hub or IC Key or IC CSite</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Deleting record Using Platform Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deleting record Using Platform Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_record_for_ACR</name>
        <label>Create record for ACR</label>
        <locationX>776</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Check_Account_RT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Account_RT</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountContactRelationCode__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountContactRelationId__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewRoles__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>PE_AccountContactRelation_CUD__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_record_for_ACR</targetReference>
        </connector>
        <object>AccountContactRelation</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
