force-app/main/default/flows/Invoice_Flag_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Invoice Flag Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Flag Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>410</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_SAP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>387</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invoice_sent_to_SAP</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(28, 43, 250);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 20px; color: rgb(28, 43, 250); font-family: garamond;&quot;&gt;Your invoice has been sent to SAP successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
