force-app/main/default/flows/Opportunity_Before_Update_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SetBilling</name>
        <label>SetBilling</label>
        <locationX>794</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThroughRelationships.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThroughRelationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBilling_0</name>
        <label>SetBilling</label>
        <locationX>1629</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThroughRelationships.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetContractSignee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractSignee</name>
        <label>SetContractSignee</label>
        <locationX>1629</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_Signee_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThroughRelationships.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThroughRelationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractSignee_0</name>
        <label>SetContractSignee</label>
        <locationX>636</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_Signee_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThroughRelationships.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetSite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSite</name>
        <label>SetSite</label>
        <locationX>738</locationX>
        <locationY>785</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThroughRelationships.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThroughRelationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSite_0</name>
        <label>SetSite</label>
        <locationX>649</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThroughRelationships.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetBilling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSite_0_0</name>
        <label>SetSite</label>
        <locationX>530</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThroughRelationships.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetBilling_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRoleContact</name>
        <label>CheckRoleContact</label>
        <locationX>73</locationX>
        <locationY>685</locationY>
        <defaultConnector>
            <targetReference>ThroughRelationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SigneeOnly</name>
            <conditionLogic>(1 AND 4) AND NOT(2) AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract Signee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Signee_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContractSignee</targetReference>
            </connector>
            <label>SigneeOnly</label>
        </rules>
        <rules>
            <name>BillingOnly</name>
            <conditionLogic>(1 AND 4) AND NOT(2) AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract Signee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBilling</targetReference>
            </connector>
            <label>BillingOnly</label>
        </rules>
        <rules>
            <name>SiteOnly</name>
            <conditionLogic>(1 AND 4) AND NOT(2) AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract Signee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSite</targetReference>
            </connector>
            <label>SiteOnly</label>
        </rules>
        <rules>
            <name>SigneeBilling</name>
            <conditionLogic>(1 AND 4) AND (2 AND 5) AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract Signee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Signee_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBilling_0</targetReference>
            </connector>
            <label>SigneeBilling</label>
        </rules>
        <rules>
            <name>SigneeSite</name>
            <conditionLogic>(1 AND 4) AND (2 AND 5) AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract Signee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Signee_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContractSignee_0</targetReference>
            </connector>
            <label>SigneeSite</label>
        </rules>
        <rules>
            <name>BillingSite</name>
            <conditionLogic>(1 AND 4) AND (2 AND 5) AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract Signee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSite_0</targetReference>
            </connector>
            <label>BillingSite</label>
        </rules>
        <rules>
            <name>SigneeBillingSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract Signee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThroughRelationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Signee_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSite_0_0</targetReference>
            </connector>
            <label>SigneeBillingSite</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Before - Update Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Before - Update Roles</label>
    <loops>
        <name>ThroughRelationships</name>
        <label>ThroughRelationships</label>
        <locationX>611</locationX>
        <locationY>223</locationY>
        <collectionReference>GetAccountContactRelationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckRoleContact</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountContactRelationships</name>
        <label>GetAccountContactRelationships</label>
        <locationX>608</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ThroughRelationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsContactInactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>43</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>GetAccountContactRelationships</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentBillingRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>CurrentContractSigneeRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>CurrentSiteRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
</Flow>
