force-app/main/default/flows/Opportunity_Sites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Has_Existing_Oppy_Sites</name>
        <label>Has Existing Oppy Sites</label>
        <locationX>740</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Site_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Oppy Sites</defaultConnectorLabel>
        <rules>
            <name>Existing_Oppy_Sites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oppy_Sites</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Oppy_Sites</targetReference>
            </connector>
            <label>Existing Oppy Sites</label>
        </rules>
    </decisions>
    <description>The flow will use to create Opportunity sites</description>
    <dynamicChoiceSets>
        <name>varSiteList</name>
        <dataType>String</dataType>
        <displayField>Site_Name_Address_Postcode__c</displayField>
        <filterLogic>((1 AND 3) OR 2 OR (3 AND 4)) AND 5</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.Account.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record_Type.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opportunity Sites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Sites</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>It is to create opportunity sites</description>
        <name>Create_Opportunity_Site</name>
        <label>Create Opportunity Site</label>
        <locationX>747</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Has_Existing_Oppy_Sites</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Name__c</field>
            <value>
                <elementReference>var_siteAddressPostCodeId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Oppy_Sites</name>
        <label>Delete Oppy Sites</label>
        <locationX>753</locationX>
        <locationY>607</locationY>
        <connector>
            <targetReference>Site_Detail</targetReference>
        </connector>
        <inputReference>Get_Oppy_Sites</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Record_Type</name>
        <label>Get Account Record Type</label>
        <locationX>415</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Opportunity_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IC_Customer_Site</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppy_Sites</name>
        <label>Get Oppy Sites</label>
        <locationX>536</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_Opportunity_Site</name>
        <label>Select Opportunity Site</label>
        <locationX>596</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Oppy_Sites</targetReference>
        </connector>
        <fields>
            <name>Site_Opportunity</name>
            <extensionName>c:suezDisplayOpportunitysites</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OpportunityId</name>
                <value>
                    <elementReference>varOpp.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityName</name>
                <value>
                    <elementReference>varOpp.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_siteAddressPostCodeId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_siteAddressPostCodeName</assignToReference>
                <name>selectedRecordName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Detail</name>
        <label>Site Details</label>
        <locationX>1003</locationX>
        <locationY>508</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Site_Values</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!var_siteAddressPostCodeName} &lt;/strong&gt;has been related to the opportunity successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Get_Account_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_siteAddressPostCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_siteAddressPostCodeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
