force-app/main/default/flows/RequestAdhocCollection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_My_Services</name>
        <label>Redirect to My Services</label>
        <locationX>1311</locationX>
        <locationY>412</locationY>
        <actionName>c:SuezRedirect</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>ErrorScreen2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>retURL</name>
            <value>
                <elementReference>retURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:SuezRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignCaseContractValues</name>
        <label>Assign Case Contract Values</label>
        <locationX>295</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>NewCaseContract.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateCasefromContractCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseContract.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSelectedContractCode.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseContract.Contract_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSelectedContractCode.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseContractList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCaseContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContractCodeId</name>
        <label>Assign Contract Code Id</label>
        <locationX>307</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>contractCodeRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedContractCodeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSelectedContractCode</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ContractCodeId</name>
        <label>Contract Code Id</label>
        <locationX>294</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>RequestCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contract Code Id</defaultConnectorLabel>
        <rules>
            <name>HasContractCodeId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractCodeRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSelectedContractCode</targetReference>
            </connector>
            <label>Has Contract Code Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsError</name>
        <label>Is Error</label>
        <locationX>900</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>DisplayError</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forceError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContractCodeValues</name>
        <dataType>String</dataType>
        <displayField>Waste_Type_and_Container_Size__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedSiteId</elementReference>
            </value>
        </filters>
        <object>Contract_Code__c</object>
        <outputAssignments>
            <assignToReference>selectedContractCodeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Waste_Type_and_Container_Size__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteValues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 AND 3) OR 2 OR (3 AND 4)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.Account.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>selectedSiteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WasteStreamPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Waste_Stream_MultiPicklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FR_Description_Purchase_Order_Number</name>
        <dataType>String</dataType>
        <expression>{!DescriptionTextArea}+BR()+&quot;Purchase Order Number : &quot;+{!Purchase_Order_Number}+BR()+&quot;Collection Date : &quot;+
TEXT(DAY({!Collection_Date}))+&quot;/&quot; +TEXT(MONTH({!Collection_Date}))+&quot;/&quot; +TEXT(YEAR({!Collection_Date}))</expression>
    </formulas>
    <interviewLabel>Request Adhoc Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Ad-hoc Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCasefromContractCode</name>
        <label>Create Case from Contract Code</label>
        <locationX>143</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>AssignCaseContractValues</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetSelectedContractCode.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Requested_Date__c</field>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetUser.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FR_Description_Purchase_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>caseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>GetSelectedContractCode.Site_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Additional Lift</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Collection request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Service Enquiry</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>713</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsError</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateCasefromContractCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>536</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I_C_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>caseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedContractCode</name>
        <label>Get Selected Contract Code</label>
        <locationX>143</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RequestCollectionfromContractCode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractCodeRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>536</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractCodeId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1108</locationX>
        <locationY>324</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_My_Services</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Thank you for submitting your request. We will be in touch with you shortly to confirm details of your request.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case Number: {!GetCase.CaseNumber}&lt;/p&gt;&lt;p&gt;Site Name: {!GetCase.Site__r.Name}&lt;/p&gt;&lt;p&gt;Subject: {!GetCase.Subject}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequestCollection</name>
        <label>Request Collection</label>
        <locationX>423</locationX>
        <locationY>470</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignContractCodeId</targetReference>
        </connector>
        <fields>
            <name>RequestCollection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RequestCollection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HeaderText_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Request a collection&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RequestCollection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RequestCollection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReuestCollection_Accounts</name>
                    <extensionName>c:suezRequestCollectionFilter</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedContractCodeId</assignToReference>
                        <name>selectedContractCodeId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequestCollectionfromContractCode</name>
        <label>Request Collection from Contract Code</label>
        <locationX>145</locationX>
        <locationY>579</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <connector>
            <targetReference>CreateCasefromContractCode</targetReference>
        </connector>
        <fields>
            <name>RequestCollectionfromContractCode_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RequestCollectionfromContractCode_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HeaderText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Request a collection&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ServiceInformation</name>
            <fieldText>Service information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ServiceInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountNameText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Account name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetSelectedContractCode.Account_Name__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SiteNameText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Site name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetSelectedContractCode.Site_Name__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceAddressText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Service address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!GetSelectedContractCode.Service_Address__c} {!GetSelectedContractCode.Postcode__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ServiceInformation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractCodeText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Contract code&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!GetSelectedContractCode.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>WasteTypeText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Waste type&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!GetSelectedContractCode.Waste_Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ContainerText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Container&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!GetSelectedContractCode.Container_Size__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Collection_Request</name>
            <fieldText>Collection request</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collection_Request_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacing1</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Collection_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Collection date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Collection dates are subject to local availability.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CollectionDatesText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Collection dates are subject to local availability.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Purchase_Order_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Purchase Order Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Collection_Request_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacing2</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DescriptionTextArea</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Help us to help you. Please share any other information that you think might be useful to our team e.g. access issues or contaminated waste.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateCaseContract</name>
        <label>Create Case Contract</label>
        <locationX>444</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <flowName>Create_Case_Contract_Sub_Flow</flowName>
        <inputAssignments>
            <name>CaseContractList</name>
            <value>
                <elementReference>CaseContractList</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>1117</locationX>
        <locationY>512</locationY>
        <connector>
            <targetReference>Redirect_to_My_Services</targetReference>
        </connector>
        <flowName>PortalErrorScreenSubFlow</flowName>
    </subflows>
    <subflows>
        <name>ErrorScreen2</name>
        <label>Error Screen</label>
        <locationX>1311</locationX>
        <locationY>600</locationY>
        <flowName>PortalErrorScreenSubFlow</flowName>
    </subflows>
    <variables>
        <name>CaseContractList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseContract__c</objectType>
    </variables>
    <variables>
        <name>caseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractCodeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description_Purchase_Order_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>forceError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewCaseContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseContract__c</objectType>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContractCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContractCodes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Code__c</objectType>
    </variables>
    <variables>
        <name>selectedSiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
