force-app/main/default/flows/RequestANewService.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RedirecttoMyServices</name>
        <label>Redirect to My Services</label>
        <locationX>358</locationX>
        <locationY>2762</locationY>
        <actionName>c:SuezRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>retURL</name>
            <value>
                <elementReference>retURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:SuezRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Requested_Service_to_Collection</name>
        <label>Add Requested Service to Collection</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>LISTRequestedServices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequestedServiceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_another_service_been_requested</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accounts</name>
        <label>Assign Accounts</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Account_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Requested_Service_Values</name>
        <label>Assign Requested Service Values</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Collection_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CollectionFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Collection_Frequency_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CollectionFrequencyOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Container__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Container</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Container_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ContainerQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Container_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Containersize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionTextArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Further_Site_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_FurtherSiteInformation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Preferred_Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Preferreddeliverydate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Waste_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WasteType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCounty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPostcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedServiceRecord.Other_Container_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OtherContainerQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Requested_Service_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables</name>
        <label>Set Variables</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>vStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCounty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressStateProvince</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPostcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressPostcode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_a_case_been_created</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CH_AccountName</name>
        <choiceText>name</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_Multiple_Sites</name>
        <choiceText>Multiple sites</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple sites</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Single_Site</name>
        <choiceText>Single site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single site</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConfidentialChoice</name>
        <choiceText>&lt;strong&gt;Confidential Waste&lt;/strong&gt; - Paper and Media that requires secure destruction.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confidential Waste</stringValue>
        </value>
    </choices>
    <choices>
        <name>DryMixedRecyclingChoice</name>
        <choiceText>&lt;strong&gt;Dry Mixed Recycling&lt;/strong&gt; - Clean &amp;amp; Dry Paper, Cans, Plastic Bottles and Cardboard.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Mixed Recycling</stringValue>
        </value>
    </choices>
    <choices>
        <name>EuroBinContainerChoice</name>
        <choiceText>&lt;strong&gt;Euro Bins &lt;/strong&gt;- Suitable for small items of compactable waste in smaller volumes.&lt;p&gt;{!EuroBinIconImage}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Euro Bins</stringValue>
        </value>
    </choices>
    <choices>
        <name>FELContainerChoice</name>
        <choiceText>&lt;strong&gt;FEL Containers&lt;/strong&gt; - Suitable for small items of compactable waste in larger volumes.&lt;p&gt;{!FELIconImage}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FEL Containers</stringValue>
        </value>
    </choices>
    <choices>
        <name>FoodWasteChoice</name>
        <choiceText>&lt;strong&gt;Food Waste &lt;/strong&gt;- Cooked and Raw food waste, egg shells and coffee grounds. No food packaging.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Food Waste</stringValue>
        </value>
    </choices>
    <choices>
        <name>GeneralWasteChoice</name>
        <choiceText>&lt;strong&gt;General Waste &lt;/strong&gt;– Waste that cannot be recycled.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Waste</stringValue>
        </value>
    </choices>
    <choices>
        <name>GlassChoice</name>
        <choiceText>&lt;strong&gt;Glass&lt;/strong&gt; - Waste glass bottles, and containers. No window frames.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Glass</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>{!OtherFrequencyChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>OtherFrequencyChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>OtherFrequencyChoice</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>ROROContainerChoice</name>
        <choiceText>&lt;strong&gt;RORO &lt;/strong&gt;- Larger container for bulkier items such as broken furniture or mono streams like wood or metal.&lt;p&gt;{!ROROIconImage}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RORO</stringValue>
        </value>
    </choices>
    <choices>
        <name>SackServiceContainerChoice</name>
        <choiceText>&lt;strong&gt;Sack Service&lt;/strong&gt; – Loose bag collection for premises that do not have space for a bin.&lt;p&gt;{!SecureSackIconImage}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sack Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>SkipContainerChoice</name>
        <choiceText>&lt;strong&gt;Skip &lt;/strong&gt;- For bulkier items such as broken furniture or mono streams like wood or metal.&lt;p&gt;{!SkipIconImage}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <choices>
        <name>TBCChoice</name>
        <choiceText>TBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TBC</stringValue>
        </value>
    </choices>
    <choices>
        <name>WEEEChoice</name>
        <choiceText>&lt;strong&gt;Other&lt;/strong&gt; - &lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Including WEEE, Haz Waste and Clinical, please provide further details in the description field.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Other</elementReference>
        </value>
    </choices>
    <constants>
        <name>EuroBinIconImage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;p&gt;&lt;img src =&quot;/resource/CustomerPortalEuroBinIcon&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>FELIconImage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;p&gt;&lt;img src =&quot;/resource/CustomerPortalFELIcon&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>ROROIconImage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;p&gt;&lt;img src =&quot;/resource/CustomerPortalROROIcon&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>SecureSackIconImage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;p&gt;&lt;img src =&quot;/resource/CustomerPortalSecureSackIcon&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>SkipIconImage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;p&gt;&lt;img src =&quot;/resource/CustomerPortalSkipIcon&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_a_case_been_created</name>
        <label>Has a case been created</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>CreateCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Requested_Service_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_another_service_been_requested</name>
        <label>Has another service been requested</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>create_requested_service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Another_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestAnotherServiceToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>RequestNewService</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsError</name>
        <label>Is Error</label>
        <locationX>358</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>DisplayError</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forceError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_sites_chosen_0</name>
        <label>Number of sites chosen</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>CreateCase_Multi_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>Single_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_many_sites_are_you_requesting_services_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Single_Site</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequestNewService</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountNames</name>
        <collectionReference>AccountRecordCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContainerQuantityValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Container_Quantity__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContainerSizeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Container_Size__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContainerValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Container__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceFrequencyValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency_of_Service__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceTypeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteValues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 AND 3) OR 2 OR (3 AND 4)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.Account.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedSiteAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WasteStreamPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Waste_Stream_MultiPicklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Request A New Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request A New Service</label>
    <loops>
        <name>Looping_Account_Contacts</name>
        <label>Looping Account Contacts</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Account_Contact_Relation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetRecordTypeId_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>vCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Requested_Service_Values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetUser.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>caseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Assignment_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>SelectedSiteAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>New Quote / Service Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New service request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sales Enquiry</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCase_Multi_Site</name>
        <label>Create Case</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>vCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>SCREEN_File_upload</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetUser.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetUser.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>caseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Assignment_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>SelectedSiteAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>New Quote / Service Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New service request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sales Enquiry</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contact_Relation</name>
        <label>Get Account Contact Relation</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Account_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_accounts</name>
        <label>Get accounts</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Accounts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Looping_Account_Contacts.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>I_C_Hub_RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>I_C_KeyAccountRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>358</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsError</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeId_0</name>
        <label>Get RecordTypeId</label>
        <locationX>358</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_sites_chosen_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I_C_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>caseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contact_Relation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>490</locationX>
        <locationY>2462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case_to_Run_Assignments</targetReference>
        </connector>
        <fields>
            <name>CaseCreatedScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Request a new service&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Thank you for submitting your request. We will be in touch with you shortly to confirm details of your request.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case Number: {!GetCase.CaseNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequestNewService</name>
        <label>Request New Service</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Variables</targetReference>
        </connector>
        <fields>
            <name>RequestNewService_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RequestNewService_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HeaderText1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Request a new service&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AccountInformation</name>
            <fieldText>Account information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AccountInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name</name>
                    <choiceReferences>AccountNames</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Account Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Address information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacing2</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AddressStreet</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vStreet</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AddressCity</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vCity</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AddressStateProvince</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vCounty</elementReference>
                    </defaultValue>
                    <fieldText>County</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacing3</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AddressPostcode</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPostcode</elementReference>
                    </defaultValue>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid postcode including spaces.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!AddressPostcode},
&quot;([A-Za-z]{1,2}[0-9][0-9A-Za-z]?)(\\s?)([0-9][A-Za-z]{2})&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>AddressCountry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vCountry</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_service_information1</name>
            <fieldText>New service information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_service_information1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestedServiceInformation</name>
                    <extensionName>c:suezNewServiceRequestedInformation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_CollectionFrequency</assignToReference>
                        <name>selectedCollectionFrequency</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_Container</assignToReference>
                        <name>selectedContainer</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_ContainerQuantity</assignToReference>
                        <name>selectedQuantity</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_Containersize</assignToReference>
                        <name>selectedContainerSize</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_FurtherSiteInformation</assignToReference>
                        <name>inp_furtherSiteInformation</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_CollectionFrequencyOther</assignToReference>
                        <name>inp_otherCollectionFrequency</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_OtherContainerQuantity</assignToReference>
                        <name>inp_otherQuantity</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_Preferreddeliverydate</assignToReference>
                        <name>inp_preferredDeveliveryDate</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_ServiceType</assignToReference>
                        <name>selectedServiceType</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>var_WasteType</assignToReference>
                        <name>selectedWasteType</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_information</name>
            <fieldText>Other information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacing4</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DescriptionTextArea</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Help us to help you. Please share any further information that you think might be useful to our team.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>RequestAnotherServiceToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to request another service at this site?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RequestNewService_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RequestNewService_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCREEN_File_upload</name>
        <label>File upload</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <fields>
            <name>FileUploadScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Request a new service&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload_Text</name>
            <fieldText>&lt;p&gt;As you are requesting services for multiple sites please upload this information and we will be in touch.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload_Component</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vCaseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCREEN_How_Many_Sites</name>
        <label>How Many Sites</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <fields>
            <name>Screen1Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Request a new service&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_many_sites_are_you_requesting_services_for</name>
            <choiceReferences>Choice_Single_Site</choiceReferences>
            <choiceReferences>Choice_Multiple_Sites</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many sites are you requesting services for?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCREEN_How_Many_Sites</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>create_requested_service</name>
        <label>create requested service</label>
        <locationX>182</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <flowName>Create_Requested_service</flowName>
        <inputAssignments>
            <name>Lst_RequestedService</name>
            <value>
                <elementReference>LISTRequestedServices</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>226</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>RedirecttoMyServices</targetReference>
        </connector>
        <flowName>PortalErrorScreenSubFlow</flowName>
    </subflows>
    <subflows>
        <name>Update_Case_to_Run_Assignments</name>
        <label>Update Case to Run Assignments</label>
        <locationX>490</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>RedirecttoMyServices</targetReference>
        </connector>
        <flowName>Admin_Update_Case_to_Run_Assignments</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountRegion</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>forceError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>I_C_Hub_RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>I&amp;C Hub Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>I_C_KeyAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>I&amp;C Key Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>LISTRequestedServices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requested_Service__c</objectType>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RequestedServiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requested_Service__c</objectType>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAddRequestValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContainerSizeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContainerValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSiteAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testimageinput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CollectionFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CollectionFrequencyOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Container</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ContainerQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Containersize</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_FurtherSiteInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_OtherContainerQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Preferreddeliverydate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ServiceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_WasteType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCollectionFrequency</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCounty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
