force-app/main/default/flows/Update_the_Contact_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Active_Record_Type</name>
        <label>Assign Active Record Type</label>
        <locationX>823</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Contact_Recordtype.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Inactive_Record_Type_0_0</name>
        <label>Assign Inactive Record Type</label>
        <locationX>324</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_InactiveContact_Recordtype.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Actual_Contact_Value_Check</name>
        <label>Actual Contact Value Check</label>
        <locationX>520</locationX>
        <locationY>495</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Contact_Recordtype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Flag Set from InActive to Active</defaultConnectorLabel>
        <rules>
            <name>Contact_Flag_Set_from_Active_to_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_InactiveContact_Recordtype</targetReference>
            </connector>
            <label>Contact Flag Set from Active to Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Check</name>
        <label>Contact Check</label>
        <locationX>536</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inactive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actual_Contact_Value_Check</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <interviewLabel>Update the Contact Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update the Contact Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Contact_Recordtype</name>
        <label>Get Active Contact Recordtype</label>
        <locationX>813</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Active_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActiveContactRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_InactiveContact_Recordtype</name>
        <label>Get InactiveContact Recordtype</label>
        <locationX>323</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Inactive_Record_Type_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInActiveContactRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Contact_Check</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varActiveContactRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>I_C_Contact</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInActiveContactRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inactive_Contact</stringValue>
        </value>
    </variables>
</Flow>
