force-app/main/default/flows/VerifyContactDetailsPortal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Original_Contact</name>
        <label>Set Original Contact</label>
        <locationX>775</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>OriginalContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Contact.Job_Title__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Contact.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Contact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalContact.OtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Contact.OtherPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsGreaterThan30Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdatedContact</name>
        <label>Set Updated Contact</label>
        <locationX>423</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>UpdatedContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.OtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedContact.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobTitle.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMade</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsError</name>
        <label>Is Error</label>
        <locationX>1219</locationX>
        <locationY>626</locationY>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>DisplayError</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forceError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGreaterThan30Days</name>
        <label>Is Greater Than 30 Days</label>
        <locationX>775</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GreaterThan30Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyContactDetails</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateMade</name>
        <label>Update Made?</label>
        <locationX>423</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>UpdateContactVerified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateContact</name>
            <conditionLogic>1 OR 2 OR 3 OR (4 AND (8 OR 9)) OR (5 AND (6 OR 7)) OR (12 AND (10 OR 11))</conditionLogic>
            <conditions>
                <leftValueReference>OriginalContact.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.Job_Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.Job_Title__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.Job_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.Job_Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.OtherPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.OtherPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OriginalContact.OtherPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedContact.OtherPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Update Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GreaterThan30Days</name>
        <dataType>Boolean</dataType>
        <expression>IF({!GetUser.Contact.Contact_Verified_On__c} &lt; (NOW() - 30), true, false)</expression>
    </formulas>
    <interviewLabel>Verify Contact Details - Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Contact Details - Portal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>775</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Original_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>640</locationX>
        <locationY>807</locationY>
        <connector>
            <targetReference>UpdateContactVerified</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>UpdatedContact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>UpdatedContact.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>UpdatedContact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>UpdatedContact.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>UpdatedContact.OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>UpdatedContact.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactVerified</name>
        <label>Update Contact Verified</label>
        <locationX>548</locationX>
        <locationY>1038</locationY>
        <connector>
            <targetReference>IsError</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IsError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Verified_By__c</field>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Verified_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>VerifyContactDetails</name>
        <label>Verify Contact Details</label>
        <locationX>423</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetUpdatedContact</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Verify your contact details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginalContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;First Name should start with a capital letter, be 2 or more characters, not be initials, and not contain special characters except a hyphen, apostrophe or space.&lt;/p&gt;&lt;p&gt;First Name can&apos;t be all lower case or upper case.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;First Name should start with a capital letter, be 2 or more characters, not be initials, and not contain special characters except a hyphen, apostrophe or space.&lt;/p&gt;&lt;p&gt;First Name can&apos;t be all lower case or upper case.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!FirstName}, &quot;[A-Z][&apos;]?[A-Za-z][A-Za-z&apos; -]*&quot;)
&amp;&amp;
NOT({!FirstName} = Lower({!FirstName}))
&amp;&amp;
NOT({!FirstName} = Upper({!FirstName}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginalContact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Last Name should start with a capital letter, be 2 or more characters, not be initials, and not contain special characters except a hyphen, apostrophe or space.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Last Name can&apos;t be all lower case or upper case.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Last Name should start with a capital letter, be 2 or more characters, not be initials, and not contain special characters except a hyphen, apostrophe or space.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Last Name can&apos;t be all lower case or upper case.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!LastName}, &quot;[A-Z][&apos;]?[A-Za-z][A-Za-z&apos; -]*&quot;)
&amp;&amp;
NOT({!LastName} = Lower({!LastName}))
&amp;&amp;
NOT({!LastName} = Upper({!LastName}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>OriginalContact.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailAddressUpdateText</name>
            <fieldText>&lt;p&gt;&lt;em&gt;﻿If your email address needs updating, please click verify and raise a ticket in the portal.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JobTitle</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Job_Title__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Job title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OriginalContact.Job_Title__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginalContact.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter a valid phone number with country code (+44/+353) followed by numbers without spaces.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter a valid phone number with country code (+44/+353) followed by numbers without spaces.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Phone},&quot;(^\\+44)[1-6]{1}[0-9]{8,14}&quot;)) ||
(REGEX({!Phone},&quot;(^\\+449)[0-9]{9,14}&quot;)) ||
(REGEX({!Phone},&quot;(^\\+448)[0-9]{8,14}&quot;)) || 
(REGEX({!Phone},&quot;(^\\+353)[1-7]{1}[0-9]{9,14}&quot;)) || 
(REGEX({!Phone},&quot;(^\\+353)[9-9]{1}[0-9]{9,14}&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Mobile</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginalContact.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter a valid mobile number with country code (+44/+353) followed by numbers without spaces.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter a valid mobile number with country code (+44/+353) followed by numbers without spaces.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Mobile},&quot;(^\\+447)[0-9]{9,14}&quot;))||
(REGEX({!Mobile},&quot;(^\\+449)[0-9]{9,14}&quot;))  ||
(REGEX({!Mobile},&quot;(^\\+3538)[0-9]{9,14}&quot;))  ||
(REGEX({!Mobile},&quot;(^\\+3539)[0-9]{9,14}&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OtherPhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OriginalContact.OtherPhone</elementReference>
            </defaultValue>
            <fieldText>Other phone</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter a valid phone number with country code (+44/+353) followed by numbers without spaces.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter a valid phone number with country code (+44/+353) followed by numbers without spaces.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!OtherPhone},&quot;(^\\+44)[1-9]{1}[0-9]{9,14}&quot;)) ||(REGEX({!OtherPhone},&quot;(^\\+353)[1-9]{1}[0-9]{9,14}&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Verify</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>649</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>1351</locationX>
        <locationY>508</locationY>
        <flowName>PortalErrorScreenSubFlow</flowName>
    </subflows>
    <variables>
        <name>forceError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
